<article>
  <img class="listing-photo" [src]="carLocation?.photo"
       alt="Exterior photo of {{carLocation?.name}}"/>

  <section class="listing-description">
    <h2 class="listing-heading">{{carLocation?.name}}</h2>
    <p class="listing-location">{{carLocation?.city}}, {{carLocation?.state}}</p>
  </section>

  <section class="listing-features">
    <h2 class="section-heading">ABOUT THIS CAR LOCATION</h2>
    <ul>
      <li>Units available: {{carLocation?.availableUnits}}</li>
    </ul>
  </section>

  <section class="listing-apply">
    <h2 class="section-heading">APPLY TO ORDER THIS CAR</h2>
    <form [formGroup]="applyForm" (submit)="submitApplication()">
      <label for="first-name">First Name</label>
      <input id="first-name" type="text" formControlName="firstName">

      <label for="last-name">Last Name</label>
      <input id="last-name" type="text" formControlName="lastName">

      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email">
      <button type="submit" class="primary">Apply now</button>
    </form>
  </section>
</article>
